body{
    background: black;
    font-size: 24px;
    color: white;
    font-family: "Open Sans", sans-serif;
}
a{
    color: white;
}
.container{
    margin: 0 auto;
}
h1{
    font-size: 160px;
    text-align: center;
    color:white;
}
p{
    text-align: center;
}
nav{
    margin: 50px 0;
    background-color: tomato;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}
nav ul li{
    display: inline-block;
    background-color: tomato;
}
nav a{
    display: block;
    padding: 0 10px;
    color: white;
    line-height: 60px;
    text-decoration: none;
}
nav a:hover{
    background-color: black;
}
nav ul ul{
    display: none;
    position: absolute;
    top: 60px;
}
nav ul li:hover>ul{
display: inherit;
}
nav ul li{
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}
nav ul ul ul li{
position: relative;
top: -60px;
left: 170px;
}
li >a::after{
content: "+";
}
li > a:only-child::after{
    content: "+";
}